
.* {
    font-family: Regular.otf;
}

.body {
    background-image: url("base homepage.webp");
    background-size: auto;
    color: orange;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body2
{
    background-color:aliceblue;
}

.img {
    width: 50%;
    height: 18%;
    margin-bottom: -5%;
}

.img2 {
    width: 10%;
    height: 2.5%;
}

.pannello_home {
    width: 80%;
    height: 65%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pannello
{
    background-color:aliceblue;

}

.pannello2
{
    width:60%;
    height:70%;
    margin:auto;
    padding:3%;
    background-color:aliceblue;
}
.img_centro {
    width: 70%;
    height: 55%;
    display: block;
    margin: 0 auto;
}

.testo {
    text-align: justify;
    margin-top: 5%;
}

.banner {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    padding: 1.5%, 0%;
    align-items: center;
    color: orange;
}

.link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 150%;
    text-align: center;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.login {
    margin: auto;
}

.precedente,
.prossimo {
    margin: 2%;
    width: 15%;
    height: 15%;
}

.vetrina {
    width: 98%;
    height: 86.6%;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vetrina_figlio {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.prodotto {
    padding: 4%;
    width: 86%;
    height: 86%;
    margin: auto;
    text-align: center;
}

.avanti,
.indietro {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.avanti {
    right: 0;
}

.indietro {
    left: 0;
}

.immag {
    width: 66%;
}

.stacco {
    background-color: aliceblue;
    position: relative;
}

.popup {
    display: none;
    position: relative;
    margin: 0 auto;
    margin-top: -15%;
    width: 90%;
    height: 85%;
    background-color: azure;
    z-index: 9999;
}

.log {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 35%;
    height: 35%;
    border-style: solid;
    border-color: rgb(115, 165, 128);
    border-width: 5px;
}

.log2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 33.3%;
    height: 55%;
    display: block;
    border-style: solid;
    border-color: rgb(115, 165, 128);
    border-width: 5px;
}

.img_pano {
    margin: auto;
    width: 40%;
    height: 40%;
}

#login_div {
    position: relative;
    margin: 0 auto;
    z-index: 9999;
    width: 35%;
    height: 35%;
}


#login_div2 {
    position: relative;
    margin: 0 auto;
    z-index: 9999;
    width: 33.3%;
    height: 55%;
}


.vetrina2 .prodotto2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Spazio tra i prodotti */
    border: 5px solid;
    border-color:orange;
    width:90%;
    margin-right:auto;
    margin-left:auto;
}

.vetrina2 .immagine-prodotto {
    width: 200px; 
    height: auto; 
    margin-right: 20px;  
    padding: 5px; 

}

.vetrina2 .dettagli-prodotto2 {
    flex: 1;
}


