<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{{url_for('static', filename='script.js')}}"></script>

</head>

<body class="body2">
    <header class="banner" style="color:orange;">
        <a href="{{url_for('index')}}" class="link" style="color:orange;"><img src="{{url_for('static', filename='logo intero.png')}}" alt="Logo1" class="img" /></a>
        <a href="{{url_for('landing')}}" class="link" style="color:orange;">CORSI</a>
        <!--FARE FUNZIONE E VALORE IN DB PER PREFERITI--><a href="{{url_for('landing')}}" class="link"><img src="{{url_for('static', filename='preferito selezionato.png')}}" alt="preferiti" class="img2" /></a>
        <a href="{{url_for('vis_carrello')}}" class="link" style="color:orange;"><img src="{{url_for('static', filename='cart in corso.png')}}" alt="carrello" class="img2" /> <!--var jinja con tot preferiti--></a>
        <p id="comparsa" class="link" style="color:orange;">O LOGIN</p>
        <p id="comparsa2" class="link" style="color:orange;">+ SIGN UP</p>
    </header>

    <div id="login_div" class="popup">
        <div class="log">
            <p>{{msg}}</p>
            <form action="{{ url_for('accesso') }}" method="post" class="login">
                <img src="#" class="little" /><br>
                <label for="login1" class="etichette"><b>nome utente</b><input type="text" name="user" class="credenziali1" maxlength="255"></label><br>
                <label for="login2" class="etichette"><b>Password</b><input type="password" name="pass" class="credenziali1" maxlength="255"></label><br>
                <button type="submit">Login</button><br />
            </form>
            <button id="chiudi_div">Chiudi</button>
        </div>
    </div>

    <div id="login_div2" class="popup">
        <div class="log2">
            <form method="post" class="data_view" action="{{ url_for('crea_utente') }}">
                <h2 class="titoli">Registrazione Cliente</h2>

                <div class="colore">
                    <label>Nome</label>
                    <input type="text" name="nome" required>
                </div>

                <div class="colore">
                    <label>Cognome</label>
                    <input type="text" name="cognome" required>
                </div>

                <div class="colore">
                    <label>Telefono</label>
                    <input type="text" name="tel" required>
                </div>

                <div class="colore">
                    <label>Password</label>
                    <input type="password" name="pass" required>
                </div>

                <div class="colore">
                    <label>Mail</label>
                    <input type="email" name="mail" required>
                </div>

                <div class="colore">
                    <label>Citta'</label>
                    <input type="text" name="citt" required>
                </div>



                <div>
                    <button class="bottone_generic" type="submit">Avvia<br>registrazione</button>
                    <button class="bottone_generic" type="reset">Cancella</button>
                </div>

            </form>
            <button id="chiudi_div2">Chiudi</button>
        </div>
    </div>

    <h2 class="header_L1">CORSI DISPONIBILI</h2>
    <div class="vetrina2">
        {% for cors in corso_singolo %}
        <div class="prodotto2">
            <a href="{{ url_for('panoramica', id_corso=cors[0]) }}">
                <img src="{{ cors[6] }}" class="immagine-prodotto" />
            </a>
            <div class="dettagli-prodotto2">
                <div class="titolo-prodotto"><strong>{{ cors[1] }}</strong></div>
                <div class="modalita"><p>MODALITA': </p>{{ cors[2] }}</div>
                <div class="descrizione"><p>DESCRIZIONE: </p>{{ cors[5] }}</div>
                <div class="prezzo"><p>PREZZO: </p><strong>{{ cors[3] }} </strong></div>
                <!--<div class="disponibilita"><p>DISPONIBILITA': </p>{{ cors[4] }}</div>-->
            </div>
        </div>
        {% endfor %}
    </div>

</body>
